@use '../../../mixins';
@import '../../../variable';

.awards {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgb(244, 244, 236);
    border: 1px solid #ddd;

    h3 {
        font-size: 1.1rem;
    }
}

.awards_list {
    display: flex;
    flex-direction: column;

    .awards_list__head,
    .awards_list__item .pc {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
        gap: .5rem;
        border-top: 1px solid #ddd;
        padding: .5rem 0;
        place-items: center;
    }

    .awards_list__head {
        border: none;

        span {
            font-size: .9rem;
            font-weight: bold;
            word-break: keep-all;
        }
    }

    .awards_list__item {
        .delete.updating {
            background-color: tomato;
            cursor: not-allowed;
        }

        .delete {
            font-size: .8rem;
            color: #fff;
            background-color: #444;
            display: inline-block;
            padding: 2px 3px;
            border-radius: 2px;
            cursor: pointer;
            width: max-content;
        }

        span {
            font-size: .9rem;
            color: #111;
            text-transform: capitalize;
            text-align: center;
            word-break: keep-all;
        }
    }
}

.not_awards {
    padding: 2rem 0;
    text-align: center;
    font-size: .9rem;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    a {
        font-size: .8rem;

        img {
            display: inline-block;
            width: 0.8rem;
            height: 0.8rem;
        }
    }
}

.mo {
    display: none;
}

@include mixins.respond-to($breakpoint-large) {}


@include mixins.respond-to($breakpoint-small) {
    .pc {
        display: none !important;
    }

    .mo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        row-gap: 1rem;

        width: 100%;

        .content {
            display: flex;
            flex-direction: column;
            row-gap: .3rem;

            .mo__title_box {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                column-gap: .5rem;

                .year {}

                .name {
                    font-size: 1rem;
                }

                .date {}
            }

            .mo__result_box {
                display: flex;
                flex-wrap: wrap;
                column-gap: .5rem;

            }
        }
    }

    .awards_list {

        .awards_list__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-top: 1px solid #ddd;
            padding: 1rem 0;
        }

        .awards_list__item:last-of-type {
            padding-bottom: 0;
        }
    }
}