@use "../../mixins";
@import "../../variable";

.bar_data_box {
    padding: 15px 0;
    padding-bottom: 100px;
    padding-right: 1rem;
    flex: 1 1 0%;

    .data_ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;

        .li {
            border: 1px #444 solid;
            flex: 1 1 25%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 1rem;

            .main_box {
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;

                .title_box {
                    display: flex;
                    column-gap: 0.5rem;
                    align-items: flex-top;

                    .title {
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                }

                .sub_text {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    column-gap: 0.5rem;
                    row-gap: 0.3rem;

                    .p {
                        font-size: 0.9rem;
                        color: #444;

                        a {
                            text-decoration: inherit;

                            img {
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }
                }
            }

            .bottom {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;

                .date_box {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .heart_box {
                        display: flex;
                        align-items: center;
                        column-gap: 0.5rem;

                        img {
                            width: 0.8rem;
                            height: 0.8rem;
                        }
                    }

                    ul {
                        display: flex;
                        gap: 0.3rem;

                        li {
                            background-color: #444;
                            color: #fff;
                            font-size: 0.7rem;
                            width: 22px;
                            height: 22px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50px;
                        }

                        $days: (
                            일요일: rgb(205, 70, 70),
                            토요일: rgb(61, 61, 176),
                        );

                        @each $day, $color in $days {
                            li[data-day="#{$day}"] {
                                background-color: $color;
                            }
                        }
                    }

                    .location {
                        background-color: #444;
                        color: #fff;
                        height: 22px;
                        padding: 0 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50px;
                        font-size: 0.7rem;
                    }

                    $lines: (
                        남부터미널: (
                            #ef7c1c,
                            #ef7c1c,
                        ),
                        합정: (
                            #00a84d,
                            #cd7c2f,
                        ),
                        신촌: (
                            #00a84d,
                            #00a84d,
                        ),
                        봉천: (
                            #00a84d,
                            #00a84d,
                        ),
                        건대: (
                            #00a84d,
                            #747f00,
                        ),
                        신림: (
                            #00a84d,
                            #6789ca,
                        ),
                        사당: (
                            #00a84d,
                            #00a5de,
                        ),
                        선릉: (
                            #00a84d,
                            #f5a200,
                        ),
                    );

                    @each $line, $colors in $lines {
                        $startColor: nth($colors, 1);
                        $endColor: nth($colors, 2);

                        .location[data-key="#{$line}"] {
                            background: linear-gradient(to right, $startColor 50%, $endColor 50%);
                        }
                    }
                }
            }

            .bar {
                width: 100%;

                .bar_box {
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 0.3rem;
                    column-gap: 0.5rem;
                    border-top: 1px solid #aaa;
                    padding-top: 1rem;

                    li {
                        font-size: 0.8rem;
                    }

                    li.item {
                        border-right: 1px solid #888;
                        padding-right: 0.5rem;
                    }

                    li.item:last-of-type {
                        border: none;
                    }
                }
            }
        }
    }
}

@include mixins.respond-to($breakpoint-large) {
    .bar_data_box {
        padding: 15px 3rem;
        padding-bottom: 100px;

        .data_ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@include mixins.respond-to($breakpoint-small) {
    .bar_data_box {
        padding: 15px 1rem;
        padding-bottom: 50px;

        .data_ul {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
