@use './mixins';
@import './variable.scss';

.body {
    .main__section {
        display: flex;
        // align-items: flex-start;
        gap: 1rem;
        flex: 1 1 0%;
    }
}

.error_page {
    padding-top: 15px;
}

@include mixins.respond-to($breakpoint-large) {
    .body {
        .main__section {
            flex-direction: column;
            row-gap: 0;
        }
    }
}