@use '../mixins';
@import '../variable';

.nav {
    display: flex;
    column-gap: 1rem;
    padding: 15px 3rem;
    border-bottom: 1.5px #888 solid;

    a {
        text-transform: uppercase;
        text-decoration: inherit;
    }

    .active {
        color: tomato;
    }

}

@include mixins.respond-to($breakpoint-medium) {
    .nav {
        display: none;
    }
}