@use '../mixins';
@import '../variable';

.loading {
    padding: 15px;
    color: #444;
}

@include mixins.respond-to($breakpoint-large) {
    .loading {
        padding: 15px 3rem;
    }
}

@include mixins.respond-to($breakpoint-small) {
    .loading {
        padding: 15px 1rem;
    }
}