@use '../../mixins';
@import '../../variable';

.main {
    padding-top: 15px;
    padding-bottom: 100px;
    max-width: 60%;
    flex: 1 1 0%;

    &>section {
        .img_box {
            display: flex;
            position: relative;
            height: 250px;
            background: url("/image/about_pc.jpg") center / cover;
            background-attachment: fixed;
            border-radius: 5px;

            &>span {
                position: absolute;
                font-size: 8.9vw;
                width: 100%;
                text-align: center;
                text-transform: capitalize;
                color: #fff;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-weight: bold;
            }
        }

        .about_box {
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
            padding-top: 3rem;

            .item {
                display: flex;
                column-gap: 2rem;

                .left {

                    &>span {
                        font-size: 3rem;
                    }
                }

                .right {
                    display: flex;
                    flex: 1 1 0%;
                    align-items: flex-start;
                    flex-direction: column;
                    row-gap: 1rem;
                    padding-bottom: 3rem;
                    border-bottom: 1px solid #444;


                    &>h3 {
                        font-size: .7rem;
                        background-color: #444;
                        color: #fff;
                        padding: 4px 6px;
                        border-radius: 5px;
                    }

                    .sub_text {
                        display: flex;
                        flex-direction: column;
                        row-gap: .3rem;
                        line-height: 1.5;

                        &>p {
                            font-size: 0.9rem;
                            word-break: keep-all;
                        }

                        & a {
                            display: inline-block;
                            background-color: tomato;
                            color: #fff;
                            border-radius: 2px;
                            padding: 0px 2px;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }

    }
}


@include mixins.respond-to($breakpoint-large) {
    .main {
        padding: 15px 3rem;
        padding-bottom: 100px;
        max-width: inherit;

        &>section {
            .about_box {
                .item {
                    flex-direction: column;
                    row-gap: 1.5rem;
                }
            }
        }
    }
}

@include mixins.respond-to($breakpoint-small) {
    .main {
        padding: 15px 2rem;
        padding-bottom: 50px;
    }
}