.section {
    padding: 15px 0;

    .detail_box {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        .title {
            font-size: 2rem;
            color: #111;
        }

        .img {
            width: 100%;
            max-width: 500px;
        }

        .detail {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid #888;
            color: #111;

            .detail_title {
                font-size: 1.5rem;
            }

            .detail_text_box {
                display: flex;
                flex-direction: column;
                row-gap: .5rem;

                .detail_text {
                    font-weight: 400;
                }

                .detail_link {
                    text-decoration: none;
                    font-weight: 400;

                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}