@use '../../mixins';
@import '../../variable';

.main {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .contents {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .caution,
        .info {
            display: flex;
            flex-direction: column;
            row-gap: .5rem;

            &>p {
                font-weight: bold;
            }

            p {
                font-size: .9rem;
            }
        }
    }

}

.awards_list {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgb(244, 244, 236);
    border: 1px solid #ddd;

    .awards_list__li:first-of-type,
    .awards_list__li:last-of-type {
        border-bottom: none;
    }

    .awards_list__li {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr 1fr;
        place-items: center;
        padding: .5rem;
        border-bottom: 1px solid #ddd;

        span {
            text-align: center;
            font-size: .9rem;
            word-break: keep-all;
        }
    }

    .awards_list__head {
        border-radius: .5rem;
        background-color: rgb(236 233 211);
        border-bottom: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        span {
            font-weight: bold;
            display: flex;
            align-items: center;
            column-gap: .2rem;
            cursor: pointer;

            img {
                width: 0.7rem;
                height: 0.7rem;
                opacity: .9;
                cursor: initial;
            }
        }
    }

    .awards_list__none {
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        row-gap: .3rem;
        text-align: center;

        p {
            font-size: .9rem;
        }
    }

}



@include mixins.respond-to($breakpoint-large) {
    .main {
        padding: 15px 0;
        padding-bottom: 100px;

        .contents {
            padding: 0px 3rem;
        }

        .awards_list {
            background-color: transparent;
            border: none;

            .awards_list__li {
                grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
            }

            .year {
                display: none;
            }

        }
    }
}

@include mixins.respond-to($breakpoint-medium) {
    .main {}
}

@include mixins.respond-to($breakpoint-small) {
    .main {
        .contents {
            padding: 0px 1rem;
        }

        padding-bottom: 50px;

        .awards_list {
            padding: .5rem;

            .awards_list__head {
                border-radius: .3rem;
            }

            .awards_list__li {
                span {
                    font-size: .8rem;
                }
            }
        }
    }
}